[submodule "domains"]
	path = domains
	url = git@github.com:caochun/oag-domains.git
[submodule "agent"]
	path = agent
	url = git@github.com:caochun/oag-agent.git
[submodule "claude-code"]
	path = claude-code
	url = git@github.com:caochun/cc.git
